* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* 背景色 方便確認設計 */
.bgc {
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(10, 16, 34), rgb(40, 36, 50));
    transform-style: flat;
    /* transform-style設為flat 為2D屬性 否則背景會吃掉圖案  */
    position: absolute;
}


.universe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform-style: preserve-3d;
}

/*  .galaxy         > .solar-system >     .星球名稱 >  .pos    > .planet 或 .satellite   */
/*  perspect、rotate                        orbit     invert                 suborbit   */
/*  視點、X軸傾斜          星球裝載容器         公轉軌跡   反轉轉正    星球外型     自轉軌跡   */

/* 軌跡35度傾斜設定在orbit、invert  若在.galaxy設定軌跡傾斜會讓球體很難轉正 另外月球軌跡不設定傾斜*/
/* 星球都會執行 orbit旋轉動畫 但時間與路徑大小各異 border設定軌跡樣式 */
/* 所有.pos都用來執行反轉動畫invert 使圓形星球圖片能夠持正不隨Z軸旋轉 orbit跟invert動畫時間設相同 */
/* .pos可先給一個很小寬高如10% 但margin-top、magrin-left要加回一半負值如-5%*/
/* .planet用來設計星球外型 */

.galaxy {
    display: flex;
    margin: 0 auto;
    position: absolute;
    width: 600px;
    height: 600px;
    transform-style: preserve-3d;
    perspective: 4000px;
    /* Z軸的透視距離 透視點預設center center時 無論數值設定多少都不會改變 */
    perspective-origin: center center;
    /* 原始透視視點 預設center center (50% 50%) 數字愈大離越遠 */
    /* 要傾斜感可以用300% 100% */

    transform: rotate3d(1, 0, 0, 75deg);
    /* 讓整體圖形向X軸傾斜75度 前者向量維度 後者為角度 */

    /* background-color: rgba(2, 4, 109, 0.219); */
    /* 一開始確認位置用 */
}

.solar-system {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: drift 7s infinite ease-in-out;
}

.earth {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    transform-style: preserve-3d;
    animation: orbit 10s linear infinite;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.earth>.pos {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -5.2%;
    margin-left: -5.2%;
    width: 10%;
    height: 10%;
    animation: invert 10s linear infinite;
    transform-style: preserve-3d;
}

.earth .planet {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(35deg, rgb(0, 255, 255), rgb(15, 98, 15), rgba(42, 129, 151, 0.9));
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: shadow 10s linear infinite;
    transition: shadow 1s;
}

.earth>.pos>.moon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100%;
    margin-left: -100%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    animation: suborbit 2s linear infinite;
    transform-style: preserve-3d;
    border: 0.8px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.earth>.pos>.moon>.pos {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -5%;
    margin-left: -5%;
    width: 10%;
    height: 10%;
    animation: suborbitInvert 2s linear infinite;
    transform-style: preserve-3d;
}

.satellite {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150%;
    margin-left: -150%;
    width: 300%;
    height: 300%;
    background: linear-gradient(30deg, rgb(255, 255, 255), rgba(128, 128, 128, 0.822));
    border-radius: 50%;
    transform-style: preserve-3d;
    border-radius: 50%;
}

.mercury {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    transform-style: preserve-3d;
    animation: orbit 8s linear infinite;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.mercury .pos {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -5.27%;
    margin-left: -5.27%;
    width: 10%;
    height: 10%;
    animation: invert 8s linear infinite;
    transform-style: preserve-3d;
}

.mercury .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(30deg, rgba(255, 204, 86, 0.931), rgb(116, 85, 33)); */
    background: linear-gradient(35deg, rgb(204, 0, 255), rgb(139, 95, 167));
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: shadow 8s linear infinite;
    transition: shadow 1s;
    z-index: 5;
}

.spot {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: radial-gradient(rgba(39, 14, 53, 0.2), rgba(39, 14, 53, 0.2));
    box-shadow: inset 0 0 0 3px(rgba(39, 14, 53, 0.8));
    position: absolute;
    overflow: hidden;
}

#spot1 {
    top: 12%;
    left: 15%;
    width: 15%;
    height: 15%;
}

#spot2 {
    top: 25%;
    left: 35%;
}

#spot3 {
    top: 40%;
    left: 20%;
    width: 12%;
    height: 12%;
}

#spot4 {
    top: 60%;
    left: 70%;
    width: 18%;
    height: 18%;
}


.uranus {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: orbit 20s linear infinite;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.uranus>.pos {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -5%;
    margin-left: -5%;
    width: 10%;
    height: 10%;
    animation: invert 20s linear infinite;
    transform-style: preserve-3d;
}

.uranus .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, rgb(0, 225, 255) 10%, rgb(105, 182, 255));
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: shadow 20s linear infinite;
    transition: shadow 1s;
    z-index: 5;
}

.ring {
    border-radius: 50%;
    background: radial-gradient(rgba(0, 225, 255, 0) 30%, rgb(53, 96, 136));
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: uranusorbit 20s linear infinite;
}

.sun {
    position: absolute;
    top: 35%;
    left: 35%;
    /* 水平置中 (=(100-30% 寬度 )/2)  */
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: linear-gradient(150deg, rgb(255, 150, 0), rgba(255, 0, 0));
    box-shadow: inset -10px -10px 4px 4px rgba(100, 0, 0, 0.2), 0 0 40px rgba(255, 0, 0, 0.4), 0 0 80px rgba(255, 0, 0, 0.3), 0 0 100px rgba(255, 0, 0, 0.2);
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    animation: pulse 7s cubic-bezier(0.2, 0.2, 0.2, 0.2) infinite;
    transition-property: pulse;
    transition-duration: 3s;
    z-index: 5;
}

.sun::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.2) 60%, rgb(255, 255, 255, 0.1)90%);
    z-index: 10;
    animation: changeOpacity 7s ease-in-out infinite;
    transition-property: changeOpacity;
    transition-duration: 3s;
}


.sunSpot {
    position: absolute;
    width: 6%;
    height: 6%;
    border-radius: 50%;
    /* background: radial-gradient(rgb(255, 102, 0) 60%, rgba(255, 255, 0, 0.1)90%); */
    background: radial-gradient(rgba(255, 136, 0, 0.4) 60%, rgba(255, 255, 0, 0)90%);
    /* background: rgb(255, 255, 0); */
    /* box-shadow: 0 0 20px rgb(255, 255, 0, .6); */
    box-shadow: 0 0 4px 1px rgba(255, 80, 0, 0.8);
    top: 20%;
    left: 20%;
    animation: shoot 4s ease-in-out infinite;
}

/* 
#sunSpot1 {
    top: 15%;
    left: 25%;
    animation-delay: 0s;
}

#sunSpot2 {
    top: 20%;
    left: 20%;
    animation-delay: 2s;
}

#sunSpot3 {
    top: 25%;
    left: 30%;
    animation-delay: 1s;
}

#sunSpot4 {
    top: 12%;
    left: 15%;
    animation-delay: 3s;
}

#sunSpot5 {
    top: 35%;
    left: 15%;
    animation-delay: 1.5s;
}

#sunSpot6 {
    top: 30%;
    left: 10%;
    animation-delay: 2.5s;
} */


#sunSpot1 {
    top: 0%;
    left: 25%;
    animation-delay: 0s;
}

#sunSpot2 {
    top: 10%;
    left: 20%;
    animation-delay: 2s;
}

#sunSpot3 {
    top: 20%;
    left: 20%;
    animation-delay: 1s;
}

#sunSpot4 {
    top: 30%;
    left: 20%;
    animation-delay: 3s;
}

#sunSpot5 {
    top: 40%;
    left: 20%;
    animation-delay: 1.5s;
}

#sunSpot6 {
    top: 50%;
    left: 25%;
    animation-delay: 2.5s;
}

.small1 {
    width: 8%;
    height: 8%;
}

.small2 {
    width: 5%;
    height: 5%;
}

@keyframes shoot {

    0% {
        transform: translateX(0px)translateY(50px);
        opacity: 0;
    }

    10% {
        opacity: 0.6;
    }

    15% {
        opacity: 1;
    }

    95% {
        transform: translateX(90px)translateY(50px);
        opacity: 0.6;
    }

    100% {
        transform: translateX(90px)translateY(50px);
        opacity: 0;
    }
}



@keyframes pulse {
    0% {
        transform: rotateX(-90deg)scale3D(1, 1, 1);
    }

    50% {
        transform: rotateX(-90deg)scale3D(1.2, 1.2, 1.2);
    }

    100% {
        transform: rotateX(-90deg)scale3D(1, 1, 1);

    }
}

@keyframes drift {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);

    }
}



@keyframes orbit {
    0% {

        transform: rotateY(-10deg) rotateZ(0deg);

    }

    100% {
        transform: rotateY(-10deg) rotateZ(-360deg);

    }
}

/* 為了讓整體軌跡畫面傾斜10度 使用orbit rotateY(-10deg) 所以 invert 要 rotateZ(10deg) 回來 */

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(10deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(10deg);
    }
}

/* suborbit 規範月球自轉 因為不需要傾斜 所以重寫一個suborbit專屬的invert */

@keyframes suborbit {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(-360deg);
    }
}

@keyframes suborbitInvert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg);
    }
}

@keyframes uranusorbit {
    0% {
        transform: rotateY(98deg) rotateZ(0deg);
    }

    100% {
        transform: rotateY(98deg) rotateZ(-360deg);
    }
}



/* 配合脈動變色 70%擴張極限以前快速增強顏色 之後恢復原色*/
/* 如果使用radial-gradient的話無法自動漸變 會像紅綠燈一樣快速切換 所以使用單色*/

@keyframes changeOpacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* @keyframes lightningYellow {
    0% {
        background: radial-gradient(rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255)98%);
        filter: blur(8px);
    }

    100% {
        background: radial-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 255, 0)98%);
        filter: blur(8px);
    }

}

@keyframes lightning {
    0% {
        background: rgba(255, 255, 255, .8);
        filter: blur(8px);
    }


    100% {
        background: rgba(0, 0, 0, 0.1);
        filter: blur(8px);
    }

} */


@keyframes shadow {

    /* 全亮 */
    0% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    /* 漸暗  */
    20% {
        box-shadow: inset 6px -10px 6px 4px rgba(0, 0, 0, 0.6);
    }

    /* 漸暗 剩右上角微光 至全暗 */
    40% {
        box-shadow: inset 30px -20px 6px 4px rgba(0, 0, 0, 0.6);
    }

    /* 持續全暗 */
    50% {
        box-shadow: inset 45px -20px 6px 4px rgba(0, 0, 0, 0.6);
    }

    /* 漸亮 瞬間切換為左上角微光  */
    50.01% {
        box-shadow: inset -40px -20px 6px 4px rgba(0, 0, 0, 0.6);
    }

    /* 全亮 */
    100% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}


/* media query */
@media only screen and (max-width: 1095px) {

    .galaxy {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 500px) {

    .galaxy {
        width: 300px;
        height: 300px;
    }

    .earth,
    .mercury {
        border: 1px solid rgb(255, 255, 255);
    }

    .earth>.pos {
        margin-top: -5.1%;
        margin-left: -5.1%;
    }

    .mercury .pos {
        margin-top: -5.15%;
        margin-left: -5.15%;
    }

    .sun {
        box-shadow: inset -6px -6px 3px 3px rgba(100, 0, 0, 0.2), 0 0 20px rgba(255, 0, 0, 0.4), 0 0 40px rgba(255, 0, 0, 0.3), 0 0 60px rgba(255, 0, 0, 0.2);
    }
}